In [3]:
import pandas as pd

df1 = pd.DataFrame({'HPI':[10,20,30,40,50],'INT':[1,2,3,4,5],'IND':[50,60,70,80,90]},index=[2001,2002,2003,2004,2005])

df2 = pd.DataFrame({'HPI':[10,20,30,40,50],'INT':[1,2,3,5,5],'IND':[51,62,73,84,95]},index=[2006,2007,2008,2009,2010])

dc = pd.concat([df1,df2])
dc

      HPI  INT  IND
2001   10    1   50
2002   20    2   60
2003   30    3   70
2004   40    4   80
2005   50    5   90
2006   10    1   51
2007   20    2   62
2008   30    3   73
2009   40    5   84
2010   50    5   95